@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tenor+Sans&display=swap");

:root {
  --dark_gray: rgba(196, 196, 196, 1);
  --white_gray: rgba(151, 151, 151, 1);
  --text_gray: rgba(97, 97, 97, 1);
  --text_black: rgba(10, 10, 10, 1);
  --dark_black: rgba(17, 16, 16, 1);
  --bg_milky: rgba(247, 247, 247, 1);
  --Transparent_gray: rgba(0, 0, 0, 0.36);
  --video-tour-bg: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;

  width: 100%;
  max-width: 1920px;
  margin-top: 35px;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.header {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin-bottom: 35px;
}
header .row {
  justify-content: space-between;
}
.conteiner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 80px;
}

.logo {
  margin-bottom: 30px;
}
.menu a {
  text-decoration: none;
  color: var(--text_black);
}

.menu a:hover {
  color: var(--white_gray);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-transform: uppercase;
  column-gap: 20px;
}

.icon-connection {
  display: flex;
  column-gap: 24px;
}

.icon-connection a:hover {
  color: var(--white_gray);
}

.header-block-2 {
  background: url(/images/block_1_background.png);
  background-repeat: no-repeat;
  padding-top: 60px;
}
.header-block-2 .conteiner {
  height: 460px;
}

.card-first-header {
  text-align: left;
  background-color: var(--Transparent_gray);
  padding: 35px 27px 35px 27px;
  color: #fff;
  float: right;
}

.card-first-header p {
  line-height: 30px;
  margin-bottom: 50px;
  font-size: 16px;
}

.card-first-header h1 {
  margin: 0 0 30px 0;
  letter-spacing: 2px;
  font-size: 35px;
}
button {
  border: none;
  background: transparent;
}

.button a {
  color: black;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 40px;
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
}

.content-block-3 {
  text-align: center;
  margin-top: 80px;
}

.content-block-3 h1 {
  border-bottom: 2px solid gray;
  display: inline-block;
}

.icon-block-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-grid1 {
  width: 37%;
}

.item-grid2 {
  width: 31.5%;
}

.item-grid3 {
  width: 31.5%;
}
.item-grid3- {
  margin-bottom: 74px;
}

.img-icon-3-1 img {
  margin-bottom: -20px;
  height: 550px;
}

.content-text-1 {
  padding: 10px 30px;
  display: inline-block;
  text-align: center;
  margin-top: -75px;
  background-color: var(--dark_black);
  color: #fff;
  border: 1px solid #fff;
}

.content-text-1 p {
  color: var(--dark_gray);
  font-size: 16px;
  margin: 0 auto 10px;
}
.content-text-1 h2 {
  margin: 17px auto 10px auto;
}

.img-icon-3-2 {
  margin-bottom: -21px;
  width: 100%;
}

.content-text-2 {
  padding: 10px 27px;
  background-color: var(--dark_black);
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  margin-top: -75px;
}

.content-text-2 p {
  color: var(--dark_gray);
  margin: 0 auto 10px;
}
.content-text-2 h2 {
  margin: 17px auto 10px auto;
}

.img-icon-3-3 {
  margin-bottom: -20px;
  width: 100%;
}

.content-text-3 {
  top: 60%;
  padding: 10px 30px;
  left: 25px;
  display: inline-block;
  margin-top: -75px;
  background-color: var(--dark_black);
  color: #fff;
  border: 1px solid #fff;
}

.content-text-3 p {
  color: var(--dark_gray);
  font-size: 13px;
  margin: 0 auto 10px;
}
.content-text-3 h2 {
  margin: 17px auto 10px auto;
}
.img-icon-3-4 {
  margin-bottom: -22px;
  width: 100%;
}

.content-text-4 {
  padding: 10px 24px;

  background-color: var(--dark_black);
  color: #fff;
  display: inline-block;
  margin-top: -75px;
  border: 1px solid #fff;
}

.content-text-4 p {
  color: var(--dark_gray);
  font-size: 14px;
  margin: 0 auto 10px;
}
.content-text-4 h2 {
  margin: 17px auto 10px auto;
}

.content-block-4 .conteiner {
  height: 526px;
  color: var(--text_gray);
}
.content-block-4 h1 {
  color: var(--dark_black);
  font-size: 48px;
}
.content-block-4 p {
  display: inline-block;
  font-size: 20px;
}

.content-text-block-img {
  padding-left: 121px;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.content-text-block-img .content-text-block-4 {
  background-color: var(--bg_milky);
  padding: 10px 40px 30px 30px;
  display: inline-block;
  position: absolute;
  top: 10%;
  max-width: 700px;
  width: 100%;
  left: 0%;
  z-index: 1;
}

.content-text-block-4 .button a {
  background-color: var(--dark_black);
  color: #fff;
}

.content-block-5 {
  background-image: url(/images/bg-vector.png);
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.col:nth-child(2) {
  width: 35%;
  position: relative;
}
.col:nth-child(1) {
  width: 65%;
}
.col:nth-child(1) h1 {
  margin-top: 0;
  font-weight: 700;
  line-height: 58.46px;
  font-size: 48px;
  width: 585px;
}
.col:nth-child(1) p {
  width: 610px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--text_gray);
  margin-bottom: 30px;
}
.col:nth-child(1) .row {
  margin-top: 50px;
}
.col:nth-child(1) .button a {
  background-color: #000;
  color: #fff;
  margin-top: 40px;
}

.video-tour {
  background-color: var(--video-tour-bg);
  padding: 15px 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  bottom: 3px;
  right: 0px;
}
.video-tour .img img {
  margin-bottom: -16px;
}
.text {
  color: var(--text_gray);
  font-weight: 600;
}
.text p {
  margin-bottom: 0;
}
.color-black {
  margin-top: 5px;
  margin-bottom: 16px;
  color: var(--dark_black);
}

.content-block-6 {
  text-align: center;
  margin-top: 120px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.flex-col {
  text-align: center;
  width: 23%;
}
.flex-col img {
  width: 100%;
}
.flex-col h1 {
  font-weight: 600;
  font-size: 20px;
}
.flex-col p {
  font-size: 13px;
  color: var(--text_gray);
}

.content-block-6 .button a {
  background-color: #000;
  color: #fff;
}
.b-bottom {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--text_gray);
  display: inline;
}

.content-block-7 {
  text-align: center;
  background-image: url(/images/bg-vector.png);
}

.flex-col {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 1px 2px 19px -5px rgba(0, 0, 0, 0.75);
}

.t-line-through {
  text-decoration: line-through;
  font-size: 10px;
}

.content-block-7 .button a {
  color: #fff;
  background-color: #000;
}

.content-block-8 {
  background-image: url(/images/bg-vector.png);
}

.flex-row {
  align-items: center;
}
.flex-col- {
  width: 50%;
}

.content-text-block-8 {
  background-color: var(--bg_milky);

  padding-top: 25px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 56px;
}
.content-text-block-8 p {
  display: inline-block;
  color: var(--text_gray);
  margin-bottom: 60px;
  font-size: 20px;
}
.content-text-block-8 h1 {
  font-size: 56px;
}
.content-text-block-8 .button a {
  background-color: #000;
  color: #fff;
}

footer {
  background-color: #000;
  width: 100%;
}
footer .conteiner {
  margin-bottom: 0;
  padding-bottom: 27px;
}
.foot-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 68px;
}
.foot-col h3 {
  margin-top: 0;
}
.foot-col .logo {
  margin-bottom: 80px;
}
.foot-col .logo img {
  width: 40%;
}
.foot-col a {
  text-decoration: none;
  color: #fff;
}
.foot-col p a {
  color: var(--text_gray);
}
.foot-col > p > a:hover {
  color: #fff;
}
.foot-col h3 {
  color: #fff;
}

.media-icon {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 15px;
  margin-bottom: 45px;
  align-items: center;
}
.law a {
  font-size: 10px;
  color: var(--text_gray);
}
.law a:hover {
  color: #fff;
}
.created p a {
  color: #fff;
}
.created- {
  float: right;
  font-size: 9px;
  font-weight: 100;
}
.f-w700 {
  font-weight: 700;
}
.icon-search- {
  display: none;
}

.slider {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  padding: 10px;
  cursor: pointer;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.slider {
  display: none;
}
.row-w-480 {
  display: none;
}
.w-480- {
  display: none;
}
.slider-three {
  display: none;
}
